# Node dependencies
node_modules
dist

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.npm-cache
.npm-cache/*
*.tsbuildinfo
vite.config.js
vite.config.d.ts
